<div class="headerMain">
    <div class="leftSideDIV">
        <button class="headerButton headerButtonLeft">Suche</button>
        <button class="headerButton headerButtonLeft">Meine Pläne</button>
        <span class="headerButtonDivider"></span>
    </div>
    <p-menu #menu [model]="menuItems" [popup]="true" />
    <button
        class="headerButton headerButtonRight"
        [pTooltip]="
            isUserLoggedIn ? 'Accounteinstellungen' : 'Einloggen/ Registrieren'
        "
        tooltipPosition="bottom"
        (click)="menu.toggle($event)"
    >
        @if (isUserLoggedIn) {
        <span class="pi pi-sign-out"></span>
        } @else {
        <span class="pi pi-user"></span>
        }
    </button>
</div>
