.headerMain {
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerButton {
    height: 3.2rem;
    width: 10rem;
    background-color: transparent;
    color: var(--header--color);
    font-size: var(--standard--font--size);

    border: none;
    transition-duration: var(--standard--transition--duration);
}

.headerButton:hover {
    border: 0.1rem solid red;
    // height: 3.2rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

.headerButtonDivider {
    height: 1.5rem;
    width: 0.1rem;
    background-color: var(--header--color);
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
