.appWrapper {
    width: 100vw;
    height: 100vh;
}

.appHeader {
    width: 100%;
    height: 4rem;
    background-color: var(--header--background--color);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.appHeader img {
    height: 82%;
}
