.appWrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.appHeader {
    width: 100%;
    height: 3.5rem;
    background-color: var(--header--background--color);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: var(--standard--padding--left-right);
    padding-right: var(--standard--padding--left-right);
}

.appHeader img {
    height: 82%;
}

.appContent {
    padding-left: calc(2 * var(--standard--padding--left-right));
    padding-right: calc(2 * var(--standard--padding--left-right));

    height: 60%;
    overflow-y: auto;

    background: linear-gradient(
        var(--standard--background--color1),
        var(--header--background--color)
    );
    color: var(--header--color);
}

.backgroudIMG {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    margin: 0;
}
