<div class="appWrapper">
    <div class="appHeader">
        <a routerLink="/">
            <img src="logo.svg" class="logoSGV" alt="Logo" />
        </a>
        <app-header-main />
    </div>

    <div class="appContentWrapper">
        <img
            src="Japan 16.jpg"
            alt="Bild der Startseite"
            [ngClass]="[
                'backgroundIMG',
                isUrlForBigPicture ? 'backgroudIMGTall' : 'backgroudIMGSmall',
            ]"
        />
        <div class="appContent">
            <router-outlet />
        </div>
    </div>
</div>
