.appWrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.appHeader {
    width: 100%;
    height: 3.5rem;
    background-color: var(--header--background--color);
    border-bottom: 0.2rem solid red;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: var(--standard--padding--left-right);
    padding-right: var(--standard--padding--left-right);
}

.appHeader img {
    width: var(--header-logo-width);
}

.appContentWrapper {
    height: 100%;
    overflow-y: auto;

    background: linear-gradient(var(--header--background--color), black);
    color: var(--header--color);
}

.appContent {
    padding-left: calc(2 * var(--standard--padding--left-right));
    padding-right: calc(2 * var(--standard--padding--left-right));

    height: auto;
    overflow: hidden;
}

.backgroundIMG {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.backgroudIMGTall {
    height: 15rem;
}

.backgroudIMGSmall {
    height: 6rem;
}
